* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
.center {
    padding-left: calc(50% - 1140px/2);
    padding-right: calc(50% - 1140px/2);
}

.header__main {
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 18px;
    padding-bottom: 19px;
}

.header__main__left {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 41px;
}

.header__main__right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 33px;
}

header svg:hover path {
    fill: #F16D7F;
}

.page1 {
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    gap: 43px;
    padding-left: calc(50% - 1600px/2);
    padding-right: calc(50% - 1600px/2);
}

.page1__content {
    display: inline-block;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-bottom: 90px;
}

.page1__photo {
    width: 50%;
}

.page1__title__start {
    color: #222;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
}

.page1__title__end {
    color: #222;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
}

.page2 {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.offer__card {
    position: relative;
    background: rgba(33, 22, 22, 0.70);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.offer__card:hover {
    transform: scale(1.05);
    background: none;
}

.sale__content {
    position: absolute;
    text-align: center;
}

.big__card {
    grid-column: 1/span 3;
}

.offer__card__img {
    width: 100%;
    position: inherit;
    z-index: -1;
}

.offer__big__card__img {
    width: 100%;
    position: inherit;
    z-index: -1;
}

.big__card__photo {
    position: inherit;
}

.page2__h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.page2__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.page3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 96px;
}

.page3__product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 49px;
}

.page3__product__image {
    width: 100%;
    height: 420px;
    position: relative;
}

.page3__photo {
    width: 100%;
}

.page3__product__content:hover .page3__product__img__hover__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    z-index: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.page3__product__button {
    display: none;
}

.page3__product__content:hover .page3__product__button {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    padding: 14px 16px;
    border: 1px solid #FFF;
    gap: 11px;
    align-items: center;
    background: transparent;
}

.page3__heading {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.page3__text {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
}

.page3__product__text {
    padding: 24.35px 28.8px 20px 16.46px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.page3__product__content {
    background: #F8F8F8;
}

.page3__product__name {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 12.65px;
}

.page3__product__description {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 18px;
}

.page3__product__price {
    font-size: 16px;
    font-weight: 400;
}

.pink__colored {
    color: #F16D7F;
}

.page3__button {
    margin-top: 48px;
    padding-top: 15px;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 14px;
    background: #FFF;
    border-color: #F16D7F;
    border-style: solid;
    font-size: 16px;
    font-weight: 400;
}

.page3__button:hover {
    background-color: #F16D7F;
    color: #fff;
}

.page4 {
    padding: 104px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222224;
    gap: 30px;
}

.page4__info {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page4__img {
    margin-bottom: 28px;
}

.page4__img__2 {
    margin-bottom: 24px;
}

.page4__h2 {
    color: #FBFBFB;
    font-size: 19.96px;
    font-weight: 400;
    margin-bottom: 16px;
}

.page4__p {
    color: #FBFBFB;
    text-align: center;
    font-size: 13.972px;
    font-weight: 400;
    max-width: 85%;
}

.page5 {
    background-image: url(../img/page5.png);
    background-color: rgba(244, 244, 244, 0.70);
    background-blend-mode: overlay;
    background-size: cover;
    min-height: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.page5__content__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 360px;
}

.page5__left__text {
    text-align: center;
}

.page5__content__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.page5__content__right__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page5__content__right__p1 {
    color: #222224;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
}

.page5__content__right__p2 {
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
}

.page5__content__right__form {
    display: flex;
}

.page5__content__right__form input {
    padding: 16px 22px;
    color: #222224;
    background-color: #E1E1E1;
    font-size: 14px;
    font-weight: 400;
    outline: none !important;
    border: none !important;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.page5__content__right__form button {
    background-color: #E05C6E;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 22px;
    border: none !important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer__ {
    background-color: #222224;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.footer__h2 {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
}

.footer__right {
    display: flex;
    gap: 7.29px;
}

.footer__logo {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    position: relative;
}

.footer__img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.footer__logo:hover {
    background-color: #F16D7F;
}

.footer__logo:hover svg path {
    fill: #fff;
}

@media (max-width:1154px) {
    .center {
        padding-left: calc(50% - 1000px/2);
        padding-right: calc(50% - 1000px/2);
    }
    .page1 {
        margin-bottom: 65px;
    }
    .page1__photo {
        width: 45%;
    }
    .page1__content {
        margin-bottom: 20px;
    }
    .page1__title__start {
        font-size: 44px;
    }
    .page1__title__end {
        font-size: 24px;
    }
    .page2 {
        padding-bottom: 100px;
        gap: 24px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 230px 160px;
    }
    .page3 {
        padding-bottom: 70px;
    }
    .page3__text {
        margin-top: 5px;
    }
    .page3__product {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 1fr);
        gap: 40px;
        margin-top: 56px;
    }
    .page3__button {
        margin-top: 38px
    }
}

@media (max-width:1024px) {
    .center {
        padding-left: calc(50% - 734px/2);
        padding-right: calc(50% - 734px/2);
    }
    .page1__content {
        margin-bottom: 0px;
    }
    .page1__title__start {
        font-size: 46px;
    }
    .page1__title__end {
        font-size: 26px;
    }
    .page2 {
        grid-template-rows: 167px 116px;
        padding-bottom: 109.92px;
        gap: 20px;
    }
    .page3 {
        padding-bottom: 70.52px;
    }
    .page3__text {
        margin-top: 3.3px;
    }
    .page3__product {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
        margin-top: 72.74px;
    }
    .page3__button {
        margin-top: 32.48px
    }
}

@media (max-width:768px) {
    .page4 {
        flex-direction: column;
        gap: 48px;
    }
    .page5 {
        padding-top: 64px;
        padding-bottom: 140px;
        flex-direction: column;
        gap: 48px;
    }
}

@media (max-width:744px) {
    .center {
        padding-left: calc(50% - 350px/2);
        padding-right: calc(50% - 350px/2);
    }
    .header__main {
        justify-content: space-around;
    }
    .header__main__left {
        align-items: center;
    }
    .page1 {
        padding-top: 160px;
        padding-bottom: 160px;
        justify-content: center;
    }
    .page1__photo {
        display: none;
    }
    .page1__title__start {
        font-size: 38px;
    }
    .page1__title__end {
        font-size: 20px;
    }
    .page2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .big__card__photo {
        height: 111px;
        overflow: hidden;
        position: inherit;
        z-index: -1;
    }
    .offer__big__card__img {
        width: 210%;
        margin: 0 0 0 -190px;
    }
    .page3__product {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    .page3__button {
        margin-top: 70.52px;
    }
    .page5__content__right {
        gap: 20px;
    }
    .page5__content__right__p2 {
        text-align: center;
    }
    .footer__ {
        gap: 60px;
    }
}

@media (max-width:375px) {
    .center {
        padding-left: calc(50% - 343px/2);
        padding-right: calc(50% - 343px/2);
    }
    .header__main {
        gap: 200px;
    }
    .header__main__left {
        align-items: flex-end;
    }
    .display__none {
        display: none;
    }
    .page1 {
        padding-top: 148px;
        padding-bottom: 149px;
        margin-bottom: 0px;
    }
    .page1__content {
        padding-left: 15px;
    }
    .page2 {
        padding-top: 64px;
        gap: 32px;
        padding-bottom: 64px;
    }
    .big__card__photo {
        height: 111px;
        overflow: hidden;
        position: inherit;
        z-index: -1;
    }
    .offer__big__card__img {
        width: 210%;
        margin: 0 0 0 -190px;
    }
    .page3__product {
        padding-bottom: 40.61px;
        gap: 15.62px;
    }
    .page3__button {
        margin-top: 0px;
    }
    .page3 {
        padding-bottom: 85px;
    }
    .page4 {
        gap: 45px;
    }
    .page5 {
        padding-top: 64px;
        padding-bottom: 110px;
        gap: 59px;
    }
    .footer__ {
        flex-direction: column-reverse;
        gap: 40px;
    }
}

@media (max-width:354px) {
    .center {
        padding-left: calc(50% - 300px/2);
        padding-right: calc(50% - 300px/2);
    }
    .header__main {
        gap: 100px;
    }
    .header__main__left {
        gap: 20px;
    }
    .page1 {
        padding-top: 148px;
        padding-bottom: 149px;
        margin-bottom: 0px;
    }
    .page1__content {
        padding-left: 15px;
    }
    .page2 {
        padding-top: 64px;
        gap: 32px;
        padding-bottom: 64px;
    }
    .big__card__photo {
        height: 111px;
        overflow: hidden;
        position: inherit;
        z-index: -1;
    }
    .offer__big__card__img {
        width: 210%;
        margin: 0 0 0 -190px;
    }
    .page3__product {
        padding-bottom: 40.61px;
        gap: 15.62px;
    }
    .page3__button {
        margin-top: 0px;
    }
    .page3 {
        padding-bottom: 85px;
    }
    .page3__photo {
        width: 100%;
    }
}