/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
.center {
    padding-left: calc(50% - 1140px/2);
    padding-right: calc(50% - 1140px/2);
}

.header__main {
    background: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-top: 18px;
    padding-bottom: 19px;
}

.header__main__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 41px;
}

.header__main__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 33px;
}

header svg:hover path {
    fill: #F16D7F;
}

.promo {
    background-color: #F1E4E6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 43px;
    padding-left: calc(50% - 1600px/2);
    padding-right: calc(50% - 1600px/2);
}

.promo__content {
    display: inline-block;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-bottom: 90px;
}

.promo__photo {
    width: 50%;
}

.promo__title__start {
    color: #222;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
}

.promo__title__end {
    color: #222;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
}

.offer {
    padding-top: 65px;
    padding-bottom: 96px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 260px 30px 180px;
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.offer>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.offer>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.offer>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.offer>*:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.offer>*:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.offer>*:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.offer__card {
    position: relative;
    background: rgba(33, 22, 22, 0.70);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.offer__card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background: none;
}

.sale__content {
    position: absolute;
    text-align: center;
}

.big__card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
}

.offer__card__img {
    width: 100%;
    position: inherit;
    z-index: -1;
}

.offer__big__card__img {
    width: 100%;
    position: inherit;
    z-index: -1;
}

.big__card__photo {
    position: inherit;
}

.offer__h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.offer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.featured_items_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 96px;
}

.featured_items_header__product {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 30px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 49px;
}

.featured_items_header__product>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.featured_items_header__product>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.featured_items_header__product>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.featured_items_header__product>*:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.featured_items_header__product>*:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.featured_items_header__product>*:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.featured_items_header__product__image {
    width: 100%;
    height: 420px;
    position: relative;
}

.featured_items_header__photo {
    width: 100%;
}

.featured_items_header__product__content:hover .featured_items_header__product__img__hover__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    z-index: 1;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.featured_items_header__product__button {
    display: none;
}

.featured_items_header__product__content:hover .featured_items_header__product__button {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 14px 16px;
    border: 1px solid #FFF;
    gap: 11px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
}

.featured_items_header__heading {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.featured_items_header__text {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
}

.featured_items_header__product__text {
    padding: 24.35px 28.8px 20px 16.46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.featured_items_header__product__content {
    background: #F8F8F8;
}

.featured_items_header__product__name {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 12.65px;
}

.featured_items_header__product__description {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 18px;
}

.featured_items_header__product__price {
    font-size: 16px;
    font-weight: 400;
}

.pink__colored {
    color: #F16D7F;
}

.featured_items_header__button {
    margin-top: 48px;
    padding-top: 15px;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 14px;
    background: #FFF;
    border-color: #F16D7F;
    border-style: solid;
    font-size: 16px;
    font-weight: 400;
}

.featured_items_header__button:hover {
    background-color: #F16D7F;
    color: #fff;
}

.catalog {
    padding: 104px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #222224;
    gap: 30px;
}

.catalog__info {
    max-width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.catalog__img {
    margin-bottom: 28px;
}

.catalog__img__2 {
    margin-bottom: 24px;
}

.catalog__h2 {
    color: #FBFBFB;
    font-size: 19.96px;
    font-weight: 400;
    margin-bottom: 16px;
}

.catalog__p {
    color: #FBFBFB;
    text-align: center;
    font-size: 13.972px;
    font-weight: 400;
    max-width: 85%;
}

.advantages {
    background-image: url(../img/page5.png);
    background-color: rgba(244, 244, 244, 0.70);
    background-blend-mode: overlay;
    background-size: cover;
    min-height: 448px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.advantages__content__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
    max-width: 360px;
}

.advantages__left__text {
    text-align: center;
}

.advantages__content__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
}

.advantages__content__right__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.advantages__content__right__p1 {
    color: #222224;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
}

.advantages__content__right__p2 {
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
}

.advantages__content__right__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.advantages__content__right__form input {
    padding: 16px 22px;
    color: #222224;
    background-color: #E1E1E1;
    font-size: 14px;
    font-weight: 400;
    outline: none !important;
    border: none !important;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.advantages__content__right__form button {
    background-color: #E05C6E;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 22px;
    border: none !important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer__ {
    background-color: #222224;
    padding-top: 30px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__h2 {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
}

.footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 7.29px;
}

.footer__logo {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    position: relative;
}

.footer__img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.footer__logo:hover {
    background-color: #F16D7F;
}

.footer__logo:hover svg path {
    fill: #fff;
}

@media (max-width:1154px) {
    .center {
        padding-left: calc(50% - 1000px/2);
        padding-right: calc(50% - 1000px/2);
    }
    .promo {
        margin-bottom: 65px;
    }
    .promo__photo {
        width: 45%;
    }
    .promo__content {
        margin-bottom: 20px;
    }
    .promo__title__start {
        font-size: 44px;
    }
    .promo__title__end {
        font-size: 24px;
    }
    .offer {
        padding-bottom: 100px;
        gap: 24px;
        -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 230px 24px 160px;
        grid-template-rows: 230px 160px;
    }
    .offer>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .offer>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .offer>*:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .offer>*:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .offer>*:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .offer>*:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }
    .featured_items_header {
        padding-bottom: 70px;
    }
    .featured_items_header__text {
        margin-top: 5px;
    }
    .featured_items_header__product {
        -ms-grid-columns: 360px 40px 360px;
        grid-template-columns: repeat(2, 360px);
        -ms-grid-rows: 1fr 40px 1fr 40px 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 40px;
        margin-top: 56px;
    }
    .featured_items_header__product>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .featured_items_header__product>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .featured_items_header__product>*:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .featured_items_header__product>*:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .featured_items_header__product>*:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .featured_items_header__product>*:nth-child(6) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }
    .featured_items_header__button {
        margin-top: 38px
    }
}

@media (max-width:1024px) {
    .center {
        padding-left: calc(50% - 734px/2);
        padding-right: calc(50% - 734px/2);
    }
    .promo__content {
        margin-bottom: 0px;
    }
    .promo__title__start {
        font-size: 46px;
    }
    .promo__title__end {
        font-size: 26px;
    }
    .offer {
        -ms-grid-rows: 167px 20px 116px;
        grid-template-rows: 167px 116px;
        padding-bottom: 109.92px;
        gap: 20px;
    }
    .featured_items_header {
        padding-bottom: 70.52px;
    }
    .featured_items_header__text {
        margin-top: 3.3px;
    }
    .featured_items_header__product {
        -ms-grid-columns: 1fr 16px 1fr;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 1fr 16px 1fr 16px 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
        margin-top: 72.74px;
    }
    .featured_items_header__product>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .featured_items_header__product>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .featured_items_header__product>*:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .featured_items_header__product>*:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .featured_items_header__product>*:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .featured_items_header__product>*:nth-child(6) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }
    .featured_items_header__button {
        margin-top: 32.48px
    }
}

@media (max-width:768px) {
    .catalog {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 48px;
    }
    .advantages {
        padding-top: 64px;
        padding-bottom: 140px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 48px;
    }
}

@media (max-width:744px) {
    .center {
        padding-left: calc(50% - 350px/2);
        padding-right: calc(50% - 350px/2);
    }
    .header__main {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .header__main__left {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .promo {
        padding-top: 160px;
        padding-bottom: 160px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .promo__photo {
        display: none;
    }
    .promo__title__start {
        font-size: 38px;
    }
    .promo__title__end {
        font-size: 20px;
    }
    .offer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .big__card__photo {
        height: 111px;
        overflow: hidden;
        position: inherit;
        z-index: -1;
    }
    .offer__big__card__img {
        width: 210%;
        margin: 0 0 0 -190px;
    }
    .featured_items_header__product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .featured_items_header__button {
        margin-top: 70.52px;
    }
    .advantages__content__right {
        gap: 20px;
    }
    .advantages__content__right__p2 {
        text-align: center;
    }
    .footer__ {
        gap: 60px;
    }
}

@media (max-width:375px) {
    .center {
        padding-left: calc(50% - 343px/2);
        padding-right: calc(50% - 343px/2);
    }
    .header__main {
        gap: 200px;
    }
    .header__main__left {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .display__none {
        display: none;
    }
    .promo {
        padding-top: 148px;
        padding-bottom: 149px;
        margin-bottom: 0px;
    }
    .promo__content {
        padding-left: 15px;
    }
    .offer {
        padding-top: 64px;
        gap: 32px;
        padding-bottom: 64px;
    }
    .big__card__photo {
        height: 111px;
        overflow: hidden;
        position: inherit;
        z-index: -1;
    }
    .offer__big__card__img {
        width: 210%;
        margin: 0 0 0 -190px;
    }
    .featured_items_header__product {
        padding-bottom: 40.61px;
        gap: 15.62px;
    }
    .featured_items_header__button {
        margin-top: 0px;
    }
    .featured_items_header {
        padding-bottom: 85px;
    }
    .catalog {
        gap: 45px;
    }
    .advantages {
        padding-top: 64px;
        padding-bottom: 110px;
        gap: 59px;
    }
    .footer__ {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        gap: 40px;
    }
}

@media (max-width:354px) {
    .center {
        padding-left: calc(50% - 300px/2);
        padding-right: calc(50% - 300px/2);
    }
    .header__main {
        gap: 100px;
    }
    .header__main__left {
        gap: 20px;
    }
    .promo {
        padding-top: 148px;
        padding-bottom: 149px;
        margin-bottom: 0px;
    }
    .promo__content {
        padding-left: 15px;
    }
    .offer {
        padding-top: 64px;
        gap: 32px;
        padding-bottom: 64px;
    }
    .big__card__photo {
        height: 111px;
        overflow: hidden;
        position: inherit;
        z-index: -1;
    }
    .offer__big__card__img {
        width: 210%;
        margin: 0 0 0 -190px;
    }
    .featured_items_header__product {
        padding-bottom: 40.61px;
        gap: 15.62px;
    }
    .featured_items_header__button {
        margin-top: 0px;
    }
    .featured_items_header {
        padding-bottom: 85px;
    }
    .featured_items_header__photo {
        width: 100%;
    }
    .footer__ {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        gap: 40px;
    }
}